<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.urrecliner.shopcalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/shop_calculator"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/shop_calculator"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopCalculator">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>